# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
.next
out
dist
build

# Env
.env
apps/*/.env

# Logs
logs
*.log

# Prisma
prisma/*.db

# Editor
.DS_Store
*.swp
.idea
.vscode/